<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
		<style>
			body {
				height: 100%;
				background-color: #333;
			}
		</style>
    <title>HPECL实验室</title>
  </head>
  <body>
    <div class="position-relative overflow-hidden p-3 p-md-1 m-md-3 text-center bg-light">
					<div class="col-md-5 p-lg-5 mx-auto my-2">
						<h1 class="display-7 font-weight-normal" >HPECL实验室</h1>
						<p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
					</div>
					<div class="product-device box-shadow d-none d-md-block"></div>
					<div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
				</div>

    <div class="container-fluid">


	<!-- 整个开始 -->
	<div class="row">
	  <div class="col-3">
	    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">实时数据显示</a>
	      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">普通模式</a>
	      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">智能模式</a>
	      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">历史数据曲线显示</a>
	    </div>
	  </div>
	  <div class="col-9">
	    <div class="tab-content" id="v-pills-tabContent">

	      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
	      		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<li class="list-group-item list-group-item-secondary ">温度：30℃</li>
					<li class="list-group-item list-group-item-secondary active">湿度：64%rh</li>
			        <li class="list-group-item list-group-item-secondary">光照：37Lux</li>
					<li class="list-group-item list-group-item-secondary">二氧化碳：640ppm</li>
					<li class="list-group-item list-group-item-secondary">声音：25db</li>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
				</a>
				</div>


	      </div>

	      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
	      	<ul class="list-group">
			  <li class="list-group-item list-group-item-secondary ">制冷</li>
			  <li class="list-group-item list-group-item-secondary active">制热</li>
			  <li class="list-group-item list-group-item-secondary">除湿</li>
			  <li class="list-group-item list-group-item-secondary">送风</li>
			  <li class="list-group-item list-group-item-secondary">自动</li>
			</ul>

	      </div>

	      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
					<ul class="list-group">
				<li class="list-group-item list-group-item-secondary ">普通模式</li>
				<li class="list-group-item list-group-item-secondary active">智能模式</li>
				<li class="list-group-item list-group-item-secondary">显示模式</li>
			</ul>

	      </div>
	      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">温度</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">风速</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
									<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div id="temperature" style="width: 1000px;height:600px;"></div>
                    <script type="text/javascript">
					// 基于准备好的dom，初始化echarts实例
					var tempcharts = echarts.init(document.getElementById('temperature'));
					// 显示标题，图例和空的坐标轴
					tempcharts.setOption({
						title: {
							text: '异步数据加载示例'
						},
						tooltip: {},
						legend: {
							data:['温度'],
							textStyle:{
								color:'#fff'
							}
						},
						xAxis: {
							data: [],
							axisLine: {
                    lineStyle: {
                        type: 'solid',
                        color: '#fff',//左边线的颜色
                        width:'2'//坐标线的宽度
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: '#fff',//坐标值得具体的颜色

                    }
                }
						},
						yAxis: {
							axisLine: {
                    lineStyle: {
                        type: 'solid',
                        color: '#fff',//左边线的颜色
                        width:'2'//坐标线的宽度
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: '#fff',//坐标值得具体的颜色

                    }
                }
						},
						series: [{
							name: '温度',
							type: 'bar',
							data: [],
							barWidth: 30,
							itemStyle:{
									normal:{
											color:'#4ad2ff'
									}
							}
						}]
					});

					// 异步加载数据
					$.get('/polls/data').done(function (data) {
						// 填入数据
                        console.log(data.data1)
						tempcharts.setOption({
							xAxis: {
								data: data.categories
							},
							series: [{
								// 根据名字对应到相应的系列
								name: '温度',
								data: data.data1

							}]
						});
					});
					// 使用刚指定的配置项和数据显示图表。
					// myChart.setOption(option);
				</script>
                </div>
					<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                        <div id="speed" style="width: 1000px;height:600px;"></div>
                        <script type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('speed'));
                            // 显示标题，图例和空的坐标轴
                            myChart.setOption({
                                title: {
                                    text: '异步数据加载示例'
                                },
                                tooltip: {},
                                legend: {
                                    data:[ '风速'],
                                    textStyle:{
                                        color:'#fff'
                                    }
                                },
                                xAxis: {
                                    data: [],
                                    axisLine: {
                                            lineStyle: {
                                                type: 'solid',
                                                color: '#fff',//左边线的颜色
                                                width:'2'//坐标线的宽度
                                            }
                                        },
                                        axisLabel: {
                                            textStyle: {
                                                color: '#fff',//坐标值得具体的颜色

                                            }
                                        }
                                },
                                yAxis: {
                                                    axisLine: {
                                            lineStyle: {
                                                type: 'solid',
                                                color: '#fff',//左边线的颜色
                                                width:'2'//坐标线的宽度
                                            }
                                        },
                                        axisLabel: {
                                            textStyle: {
                                                color: '#fff',//坐标值得具体的颜色

                                            }
                                        }
                                                },
                                series: [{
                                    name:'风速',
                                    type:'bar',
                                    data:[],
                                    barWidth: 30,
                                    itemStyle:{
                                            normal:{
                                                    color:'#4ad2ff'
                                            }
                                    }
                                }]
                            });

                            // 异步加载数据
                            $.get('/polls/data').done(function (data) {
                                // 填入数据
                                console.log(data)
                                myChart.setOption({
                                    xAxis: {
                                        data: data.categories

                                    },
                                    series: [{
                                        // 根据名字对应到相应的系列
                                        name: '风速',
                                        data: data.data2

                                    }]
                                });
                            })
                            // 使用刚指定的配置项和数据显示图表。
                            // myChart.setOption(option);
                        </script>

            </div>
        </div>



</div>
</div>

  </div>

    </div>

    </div>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	</body>
